@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-white;
  }
  a,
  button {
    @apply border-0 bg-sky-500;
  }
  input[type="text"],
  button {
    @apply py-3 px-8 text-white;
  }
}
